---

---

<section>
    <div class="container1">
        <div class="image1">
            <img src="/cafepicture1.jpg" alt="cafe en una mesa">
        </div>
        <article class="ourStory">
            <div>
                <h2>Discover</h2>
                <h1>OUR STORY</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero perferendis praesentium culpa odit ab, quos necessitatibus nam quis! Quam, accusantium. Sequi doloremque eligendi incidunt harum!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores eaque velit alias temporibus blanditiis placeat libero animi quaerat, eligendi harum aliquam atque reiciendis, suscipit laboriosam minima, unde inventore corrupti ipsa aut numquam aliquid? Unde, iure itaque voluptatem molestias saepe qui?</p>
                <a href="#">More About Us</a>
            </div>
            <img src="/cafeSplash.png" alt="splash de cafe">
        </article>
    </div>

    <div class="container2">
        <div>
            <div>
                <h2>Discover</h2>
                <h1>OUR MENU</h1>
            </div>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam cumque velit deserunt aperiam voluptas eaque quis amet dignissimos quo delectus.</p>
            </article>
        </div>
    </div>
</section>

<style>
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.image1 {
    height: 400px;
    width: 400px;
}

.image1 img {
    object-fit: contain;
    max-width: 100%;
}

.ourStory {
    height: 400px;
    width: 600px;
    background-color: aliceblue;
    position: relative;
}

.ourStory img {
    position: absolute;
    height: 250px;
    top: 65%;
    left: 50%;
}

.ourStory div {
    margin: 40px;
}

.ourStory div p {
    margin: 1.3rem 0px;
}
.ourStory div h2 {
    color: rgb(206, 177, 15);
    font-size: 19px;
    margin: 0;
}

.ourStory div h1 {
    font-size: 35px;
    margin: 0;
}

.ourStory div a {
    text-decoration: none;
    color: rgb(206, 177, 15);
    margin-top: 1rem;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: aliceblue;
}

.container2 div {
    width: 50%;
    display: flex;
}

.container2 div div {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 30px;
}

.container2 div article {
    width: 50%;
    margin-left: 30px;
}

.container2 div div h2 {
    color: rgb(206, 177, 15);
    font-size: 1.8rem;
}

</style>