---
import { Image } from "astro:assets";
import tasa from '../../../public/tasa.png';
import leche from '../../../public/leche.png';
import NavBar from './NavBar.astro';
---

<section>
    <NavBar/>
    <div class="container">
        <div class="presentation">
            <h1>Expresso Yourself.</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium tempore quaerat voluptate molestias placeat! Illo obcaecati cupiditate earum iusto accusantium.</p>
            <div>
                <button type="button">Lorem ipsum</button>
                <button type="button">View more</button>
            </div>
        </div>
        <div class="images">
            <Image class="tasapng" src={tasa} width={500} height={500} alt="tasa de cafe"/>
            <Image class="lechepng" src={leche} width={900} height={700} alt="splash de leche"/>
        </div>
    </div>
</section>

<style>
section {
    background-image: url(heroFondo.jpg);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.presentation {
height: 60%;
color: aliceblue;
width: 500px;
display: flex;
flex-direction: column;
align-items: start;
justify-content: center;
}

.presentation h1 {
    font-size: 3.5em;
    margin: 0;
}

.presentation div {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.presentation div button {
    padding: 15px 30px;
    background-color: rgb(196, 155, 155);
    border: none;
    outline: none;
    color: aliceblue;
    cursor: pointer;
}

.presentation div button:last-child {
    background-color: transparent;
    border: 1px solid aliceblue; 
}

.images {
    position: relative;
    width: 500px;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.884);
    border-radius: 10%;
    -webkit-box-shadow: 0px 0px 168px 142px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 168px 142px rgba(0,0,0,1);
    box-shadow: 0px 0px 168px 142px rgba(0,0,0,1);
}

.tasapng {
    position: absolute;
    z-index: 2;
    top: 30%;
    left: 0%;
}

.lechepng {
    position: absolute;
    z-index: 1;
    top: -10%;
    left: -30%;
}
</style>