---
import { Image } from "astro:assets";
import tasa from '../../Images/tasa.png';
import leche from '../../Images/leche.png';
import NavBar from './NavBar.astro';
---

<section>
    <NavBar/>
    <div class="container">
        <div class="presentation">
            <h1>Expresso Yourself.</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium tempore quaerat voluptate molestias placeat! Illo obcaecati cupiditate earum iusto accusantium.</p>
            <div>
                <button type="button">View more</button>
            </div>
        </div>
        <div class="images">
            <Image class="tasapng" src={tasa} alt="tasa de cafe"/>
            <Image class="lechepng" src={leche} alt="splash de leche"/>
        </div>
    </div>
</section>

<style>
section {
    background-image: url(heroFondo.jpg);
    object-fit: contain;
    background-position: center;
    background-size: cover;
}
.container {
    position: relative;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.presentation {
    height: 550px;
    color: aliceblue;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    z-index: 3;
}

.presentation h1 {
    font-size: 3.8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

.presentation p {
    padding: 20px 5px;
}

.presentation div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.presentation div button {
    padding: 15px 30px;
    background-color: rgb(196, 155, 155);
    border: none;
    outline: none;
    color: aliceblue;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.presentation div button:hover {
    background-color: rgb(124, 97, 97);
    color: white;
}

.presentation div button {
    background-color: transparent;
    border: 1px solid aliceblue; 
}

.images {
    position: relative;
    width: 450px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.884);
    -webkit-box-shadow: 0px 0px 168px 142px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 168px 142px rgba(0,0,0,1);
    box-shadow: 0px 0px 168px 142px rgba(0,0,0,1);
}

.tasapng {
    height: 400px;
    width: auto;
    position: absolute;
    z-index: 2;
    top: 30%;
    left: 0%;
}

.lechepng {
    height: 700px;
    width: auto;
    position: absolute;
    z-index: 1;
    top: -10%;
    left: -50%;
}

@media screen and (max-width: 900px) {
    .images {
        display: none;
    }

    .presentation {
        text-align: center;
        z-index: 3;
    }
}
</style>