---

---

<section>
    <div class="container1">
        <div class="images">
            <img src="/tasa3.png" alt="tasa de cafe late">
            <img src="/cafeSplash.png" alt="" srcset="">
        </div>
        <article>
            <div>
                <h1>LATE SPECIAL</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt enim rerum officia iusto, vitae magnam tempore ex ducimus odio vel!</p>
            </div>
        </article>
    </div>

    <div class="container2">
        <article>
            <div>
                <h1>SUGAR COFFE</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt enim rerum officia iusto, vitae magnam tempore ex ducimus odio vel!</p>
            </div>
        </article>
        <div class="image2">
            <img src="/tasa4.png" alt="tasa de cafe late">
            <img src="/cafeSplash.png" alt="" srcset="">
        </div>
    </div>
</section>

<style>
section {
    width: 100%;
    height: auto;
}

.container1 {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.images {
    width: 50%;
    height: 100%;
    position: relative;
}

.images img:first-child {
    position: absolute;
    height: 300px;
    width: auto;
    top: 0;
    left: 30%;
    z-index: 2;
}

.images img:last-child {
    position: absolute;
    height: 400px;
    top: 0;
    left: 0%;
    z-index: 1;
    transform: rotate(90deg);
}

.container1 article {
    height: 100%;
    width: 50%;
    color: aliceblue;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 article div {
    height: 40%;
    width: 100%;
    margin: 40px;   
}

.container1 article div h1 {
    font-size: 1.8rem;
    color: rgb(206, 177, 15);
}

.container1 article div p {
    width: 400px;

}

.container2 {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
}

.container2 article {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 article h1 {
    font-size: 1.8rem;
    color: rgb(206, 177, 15);
}

.container2 article p {
    width: 400px;
}

.image2 {
    height: 100%;
    width: 50%;
    position: relative;
}

.image2 img:first-child {
    position: absolute;
    top: 0;
    left: 40%;
    height: 400px;
    width: auto;
    z-index: 2;
}

.image2 img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: auto;
    z-index: 0;
    transform: rotate(-90deg);
}



</style>