---

---

<section>
    <div class="container1">
        <div class="images">
            <img src="/taza-cafe.jpg" alt="tasa de cafe">
            <img src="cafeSplash.png" alt="splash de cafe">
        </div>
        <article>
            <div>
                <h1>HONDURAS COFFE</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quibusdam pariatur libero.</p>
            </div>
        </article>
    </div>

    <div class="container2">
        <article>
            <h1>ARBAR MICROMILL</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore asperiores perferendis aliquid magni, vel mollitia?</p>
        </article>
        <div class="images2">
            <img src="/postre1.jpg" alt="postre con cafe">
            <img src="cafeSplash.png" alt="splash de cafe">
        </div>
    </div>
</section>

<style>
.container1 {
    height: auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    color: aliceblue;
}

.images {
    position: relative;
    width: 400px;
    height: 300px;
}

.images img {
    position: absolute;
}

.images img:first-child {
    border-radius: 50%;
    height: 100%;
    top: 0;
    left: 30%;
    z-index: 2;
}

.images img:last-child {
    height: 120%;
    top: -50%;
    left: -50%;
    z-index: 0;
    transform: rotate(90deg);
}

.container1 article {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 article div {
    height: 50%;
    width: 50%;
}

.container1 article div h1 {
    color: rgb(206, 177, 15);
    font-size: 1.8rem;
}

.container2 {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 article {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    width: 30%;
}

.container2 article h1 {
    font-size: 1.8rem;
    width: 100%;
    height: auto;
    color: rgb(206, 177, 15);
}

.images2 {
    width: 40%;
    height: 100%;
    position: relative;
}

.images2 img:first-child {
    position: absolute;
    border-radius: 50%;
    top: -20%;
    left: 50%;
    height: 400px;
    width: 400px;
    object-fit: cover;
    z-index: 1;
}

.images2 img:last-child {
    position: absolute;
    top: 0;
    left: 60%;
    height: 400px;
    width: auto;
    transform: rotate(-90deg);
}

@media screen and (max-width: 900px) {
    .container1 {
        flex-direction: column-reverse;
        align-items: center;
    }

    .images {
        width: 400px;
    }

    .images img:first-child {
        left: 10%;
    }

    .images img:last-child {
        left: -90%;
        top: -20%;
    }

    .container1 article {
        margin-bottom: -80px;
    }
}
</style>