---
import ArticleImage from './components/ArticleImage.astro';
import Section1 from './components/Section1.astro';
import Section2 from './components/section2.astro';
import Section3 from './components/Section3.astro';
import Section4 from './components/Section4.astro';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
</head>
<body>
    <Section1/>
    <ArticleImage image="/cafepicture1.jpg" imageAlt="cafe en una mesa" title="Discover" subTitle="OUR STORY" paragraph="orem ipsum, dolor sit amet consectetur adipisicing elit. Libero perferendis praesentium culpa odit ab, quos necessitatibus nam quis! Quam, accusantium. Sequi doloremque eligendi incidunt harum!" paragraph2="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores eaque velit alias temporibus blanditiis placeat libero animi quaerat, eligendi harum aliquam atque reiciendis, suscipit laboriosam minima, unde inventore corrupti ipsa aut numquam aliquid? Unde, iure itaque voluptatem molestias saepe qui?"/>
    <Section2/>
    <Section3/>
    <Section4/>
    <ArticleImage image="/postre2.jpg" imageAlt="postre" title="Discover" subTitle="UPCOMING EVENTS" paragraph="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium esse doloremque voluptatibus nesciunt cum obcaecati fuga nobis, blanditiis eveniet quae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quam expedita magni nisi tempora sed ullam consectetur quidem pariatur maxime." paragraph2="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat aliquid aut, perferendis fuga pariatur eos assumenda saepe doloremque. Perferendis itaque error suscipit molestias tenetur perspiciatis."/> 
</body>
</html>

<style is:global>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: none;
}

body{
    background-color: rgb(27, 27, 27);
    overflow-x: hidden;
}
</style>