---
import Section1 from './components/Section1.astro';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
</head>
<body>
    <Section1/>
</body>
</html>

<style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: none;
}

body{
    background-color: rgb(39, 22, 22);
}
</style>